
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    width: 30em;
    border: 3px solid blue;
    height: 20em;
    justify-content: center;
    align-items: center;
    display: flex;
}
img{
    width: 5em;
    margin-right: 2em;
}